/* Base */
body {
    padding: 0;
    margin: 0 !important;
    background-color: #ADD8E6 !important;
    min-height: 100vh;
}

.h7 {
    font-family: Roboto;
    letter-spacing: 1px;
}

.h5 {
    font-family: Roboto;
    letter-spacing: 5px;
    cursor: pointer;
}

.h5 span {
    transition: 0.3s ease-out;
}

.h5:hover span:nth-child(1) {
    margin-right: 6px;
}

.h5:hover span:nth-child(2) {
    margin-left: 3px;
}

.h5:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}



.h6 {
    color: hsl(0, 0%, 28%);
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: Roboto;
    letter-spacing: 4px !important;
    cursor: pointer;
}

.h6 {
    padding: 20px;
    background: linear-gradient(to right, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 100%) 70%, hsl(0, 0%, 10%) 100%);
    animation: shine 3s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 600px;
    }

    100% {
        background-position: 600px;
    }
}