<!DOCTYPE html>
<html>
<head>
    <title>Lifecare WebApp</title>
    <link rel="stylesheet" href="/header_and_navbar.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 15px;
        }
        table, th, td {
            border: 1px solid #ccc;
            padding: 5px;
            margin-left: 20px
        }
        h2 {
            padding-top: 20px;
            padding-left: 20px;
        }
    </style>
</head>
<body>
<header>
    <img src="/logo.png" style="height:70px;width:300px;">
</header>
<nav>
    <ul>
        <li><a href="http://localhost:8082/">Home</a></li>
        <li><a href="http://localhost:8082/appointmentDetails">Appointments</a></li>
        <li><a href="http://localhost:8082/patientDetails">Patients</a></li>
        <li><a href="http://localhost:8082/medicalRecordDetails">Medical Records</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</nav>
<h2>Patients' Details</h2>
<table id="appointmentTable">
    <tr>
        <th>Appointment Id</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Reason</th>
        <th>Delete</th>
    </tr>
</table>
<script src="/displayAppointmentDetails.js"></script>
</body>
</html>
