<!DOCTYPE html>
<html>
<head>
    <title>Lifecare WebApp</title>
    <link rel="stylesheet" href="/header_and_navbar.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-size: 15px;
        }
    </style>
</head>
<body>
<header>
    <img src="/logo.png" style="height:70px;width:300px;">
</header>
<nav>
    <ul>
        <li><a href="http://localhost:8082/">Home</a></li>
        <li><a href="http://localhost:8082/appointmentDetails">Appointments</a></li>
        <li><a href="http://localhost:8082/patientDetails">Patients</a></li>
        <li><a href="http://localhost:8082/medicalRecordDetails">Medical Records</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</nav>
<main>
    <h2>Welcome to Lifecare WebApp</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam tempus quam eget lacus euismod hendrerit.
        Fusce non justo vitae neque feugiat laoreet.
        Integer ultrices vestibulum nunc, et cursus quam dignissim in.
    </p>
    <p>
        <a href="http://localhost:8082/patientRegistration" style="font-size: 15px;">Register a Patient</a>
    </p>
    <p>
        <a href="http://localhost:8082/appointmentForm" style="font-size: 15px;">Make an appointment</a>
    </p>
</main>
</body>
</html>
